body{
    margin: 35px;
}

P{
    text-align: justify;
    line-height: 1.6;
    margin: 15px;
    font-size: 18px;
}

h1{
    text-align: justify;
    font-weight: bold;
}

.footer{
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: left;
}

.first::first-letter {
  font-weight: bold;
  font-size: 24px;
  }
  #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
}
.table tr:hover {background-color: #ddd;}
.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: orange;
    color: white;
}
.table{
    width: 100px;
    height: 50px;
}

#action_movie{
    width: 340px;
    height: 50px;
}

h2{
    font-size: 25px;
}

header{
    font-size: 20px;
}