#indexheading {
	text-align: center;
	font-size: 50px;
	font-family: Times New Roman, Georgia,sans-serif;
	color: maroon;
}
body{
	background: #FFFBC8;
}
header{
	text-align: left;
	font-size: 24px;
	font-family: times new roman, sans-serif;
	border-style: solid;
	border-radius: 4px;
	border-width: 2px;
	padding: 5px;
}
p{
	font-size: 20px;
	font-family: times new roman, sans-serif;
}
.showtimes{
	font-family: arial, sans-serif;
	font-size: 32px;
	color: red;
}
.shows{
	text-align: left;
	padding: 4px;
	border: solid;
	border-bottom: solid;
}

td{
	text-align: center;
	padding: 5px;
	border: solid;
}
footer{
	border-top: solid;
	padding: 5px;
}
/* nav bar borrowerd from the example from class*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: times new roman,sans-serif;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
