body{
	background: #4FB99F;
} 
header { 
	background-color: #4FB99F;
	background-repeat: no-repeat;
	color: #94090D;
	font-family: Times new roman, palatino, serif;
	font-size: 60px;
	height: 105px;
	padding: 10px;
}

p {
	font-size: 16px;
}



.article {
	border-style: solid;
	border-width: 3px;
	border-radius: 3px;
	margin: 3px;
	padding: 3px;
}

/* --- Nav Bar --- */
nav ul{ 
	list-style-type: none;
	margin: 4;
	padding: 4;
	overflow: hidden;
	background-color: #590C0F;
	font-family: arial, sans-serif;
}

nav li {
	float: left;
}

nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text decoration: none;
}

nav li a:hover {
	background-color:#59361E;
}

table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
}

table{
	width: 100%;
}
th{
	height: 50px;
}
th, td {
	padding: 15px;
	text-align: left;
}